body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #243141; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	font: 400 2.75rem/3.5rem "Open Sans", sans-serif;
}

h2 {
	font: 400 2.25rem/2.75rem "Open Sans", sans-serif;
}

h3 {
	font: 400 2rem/2.5rem "Open Sans", sans-serif;
}

h4 {
	font: 400 1.625rem/2.125rem "Open Sans", sans-serif;
}

h5 {
	font: 400 1.375rem/1.75rem "Open Sans", sans-serif;
}

h6 {
	font: 400 1.125rem/1.5rem "Open Sans", sans-serif;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #243141;
	text-decoration: underline;
}

a:hover {
	color: #243141;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.red {
	color: #e1293b;
}

.white {
	color: #243141;
}

a.white:hover {
	color: #243141;
}

.bg-blue {
	background-color: #2a3e57;
}

.bg-dark-blue {
	/* background: url(../images/bgdull.png); */
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #e1293b;
	border-radius: 32px;
	background-color: #e1293b;
	color: #243141;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 1px solid #e1293b;
	background-color: transparent;
	color: #e1293b; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #e1293b;
	border-radius: 32px;
	background-color: #e1293b;
	color: #243141;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid #e1293b;
	background-color: transparent;
	color: #e1293b; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #243141;
	border-radius: 32px;
	background-color: transparent;
	color: #243141;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #243141;
	color: #21252c;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #243141;
	border-radius: 32px;
	background-color: transparent;
	color: #243141;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #243141;
	color: #21252c;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #243141;
	border-radius: 32px;
	background-color: transparent;
	color: #243141;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #243141;
	color: #21252c;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.375rem;
	color: #d5dce3;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.5rem;
	cursor: text;
	transition: all 0.2s ease;
}

.h1_services{
	position: absolute;
	padding-top: 1.7%;
	margin-left: 4%;
}

.cards {
	margin-left: 25%;
	max-width: fit-content;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
	grid-auto-rows: auto;
	gap: 50px;
	margin-bottom: 5%;
	font-family: sans-serif;
	padding-top: 30px;
}

.cards * {
	/* box-sizing: border-box; */
}

.cards .card{
	box-shadow: 5px 5px 5px #888888;
}

.card__image {
	width: 100%;
	height: 150px;
	object-fit: cover;
	display: block;
	border-radius: 0px !important;
	box-shadow: none !important;

	/* border-top: 2px solid #333333;
	border-right: 2px solid #333333;
	border-left: 2px solid #333333; */
}

.card__content {
	line-height: 1.5;
	font-size: 0.9em;
	padding: 15px;
	background: #fafafa;
	/* border-right: 2px solid #333333;
	border-left: 2px solid #333333; */
}

.card__content > p:first-of-type {
	margin-top: 0;
}

.card__content > p:last-of-type {
	margin-bottom: 0;
}

.card__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #555555;
	background: #eeeeee;
	font-size: 0.8em;
	/* border-bottom: 2px solid #333333;
	border-right: 2px solid #333333;
	border-left: 2px solid #333333; */
}

.card__info i {
	font-size: 0.9em;
	margin-right: 8px;
}

.card__link {
	color: #64968c;
	text-decoration: none;
}

.card__link:hover {
	text-decoration: underline;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	color: #d5dce3;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.25rem;
	border: 1px solid #637fa1;
	background-color: #3b5473;
	color: #243141;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #7d838a;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.25rem;
	border: 1px solid #637fa1;
	background-color: #3b5473;
	color: #243141;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #e1293b;
	border-radius: 32px;
	background-color: #e1293b;
	color: #243141;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #e1293b;
	background-color: transparent;
	color: #e1293b;
}

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/* Fade Animation For Image Lightbox And Morphtext - Magnific Popup  */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}

/* end of fade animation for image lightbox and morphtext - magnific popup */

/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.5rem;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

/* .navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.21rem;
} */

.navbar .logo-image img {
    width: 300px;
}

.navbar .logo-text {
	color: #ffffff;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.navbar .larger-devices {
	display: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 1.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #2a3e57;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #2a3e57;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #e1293b;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #ffffff;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #2a3e57;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #ffffff;
	color: red;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #76858b;
}
/* end of dropdown menu */

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}

.header {
	position: relative;
	text-align: center;
}

.header .swiper-container {
	position: absolute;
	z-index: 0;
	/* Necessary for proper display of slides */
	width: 100%;
	height: 100%;
}

.header .swiper-container .swiper-slide.first {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(145, 74, 218, 0)), url('../images/slider1.jpg') center center no-repeat;
	background-size: cover; 
}

.header .swiper-container .swiper-slide.second {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(145, 74, 218, 0)), url('../images/slider2.jpg') center center no-repeat;
	background-size: cover; 
}

.header .swiper-container .swiper-slide.third {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(145, 74, 218, 0)), url('../images/slider3.jpg') center center no-repeat;
	background-size: cover; 
}

.header .text-container {
	margin-top: 8rem;
	margin-bottom: 8rem;
	padding: 2.5rem 1.5rem 3.5rem 1.5rem;
	background-color: transparent;
}

.header h1 {
	margin-bottom: 1rem;
}

.header .p-large {
	margin-bottom: 2.25rem;
}

.header .btn-solid-lg,
.header .btn-outline-lg {
	display: block;
	text-align: center;
}

.header .btn-solid-lg {
	margin-bottom: 1.5rem;
}


/********************/
/*     Featured     */
/********************/
.slider-1 {
	padding-top: 8.25rem;
	padding-bottom: 7.25rem;
}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	position: static;
	width: 90%;
}

.slider-1 .embed-responsive {
	margin-bottom: 2rem;
}

.slider-1 h2 {
	margin-bottom: 1rem;
}

.slider-1 .list-unstyled .fas {
	font-size: 0.75rem;
	line-height: 1.75rem;
}

.slider-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}


/******************/
/*     Latest     */
/******************/

.card img{
	border-radius: 15px;
	box-shadow: 10px 10px 10px #888888;
}

.cards-1 {
	padding-top: 8rem;
	margin-right: 15%;
	padding-bottom: 4rem;
	text-align: center;
}

.cards-1 h2 {
	margin-bottom: 2.75rem;
}

.cards-1 .card {
	margin-bottom: 3.25rem;
	border: none;
	background-color: transparent;
	text-align: left;
}

.cards-1 .card-body {
	padding: 1rem;
}

.cards-1 .card-title {
	margin-bottom: 0.375rem;
}

.col-lg-12{
	width: 80%;
	margin-left: 10%;
}

/******************/
/*    Details     */
/******************/
#details{
	display: none;
}

.slider-2 {
	padding-top: 8rem;
	padding-bottom: 8rem;
	background: linear-gradient(rgba(4, 13, 27, 0.7), rgba(4, 13, 27, 0.7)), url('../images/details-background.jpg') center center no-repeat;
	background-size: cover; 
	text-align: center;
}

.slider-2 h2 {
	margin-bottom: 1rem;
}

.slider-2 h3 {
	margin-top: 4rem;
	margin-bottom: 0.75rem;
}

.slider-2 .slider-container {
	position: relative;
}

.slider-2 .swiper-container {
	position: static;
}

.slider-2 .swiper-slide .testimonial-text {
	margin-bottom: 1rem;
}	

.slider-2 .swiper-slide h5 {
	margin-bottom: 0;
}

.slider-2 .swiper-pagination {
	right: 0;
	left: 0;
	bottom: -44px;
	color: #efefef;
}

.slider-2 .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	background-color: #efefef;
}


/******************/
/*     Values     */
/******************/
.basic-1 {
	background-color: #2b2b2b;
	color: whitesmoke;
	padding-top: 4rem;
	padding-bottom: 8.5rem;
}

.basic-1 h2,
.basic-1 p {
	color: whitesmoke;
}

.h2-heading{
	margin-bottom: 5%;
}

.basic-1 p {
	margin-bottom: 3.75rem;
}

.basic-1 h3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;

}

.basic-1 .image-number {
	position: absolute;
	top: 21%;
	width: 3rem;
	height: 3rem;
	background-color: #e1293b;
	color: #ffffff;
	font: 400 1.375rem/3rem "Oleo Script", sans-serif;
	text-align: center;
}

.basic-1 .value-1 {
	margin-bottom: 8rem;
}

.basic-1 .value-1 .text-container {
	margin-bottom: 3rem;
}

.basic-1 .value-1 .image-container {
	margin-left: 1.5rem;
}

.basic-1 .value-1 .image-number {
	left: 0.75rem;
}

.basic-1 .value-2 {
	margin-bottom: 5.5rem;
}

.basic-1 .value-2 .image-container {
	margin-right: 1.5rem;
	margin-bottom: 2.5rem;
}

.basic-1 .value-2 .image-number {
	right: 0.75rem;
}

.basic-1 .value-3 .text-container {
	margin-bottom: 3rem;
}

.basic-1 .value-3 .image-container {
	margin-left: 1.5rem;
}

.basic-1 .value-3 .image-number {
	left: 0.75rem;
}


/****************/
/*     Host     */
/****************/
.basic-2 {
	background: linear-gradient(to bottom right, rgba(145, 74, 218, 0), rgba(145, 74, 218, 0)), url('../images/host-background.jpg') center center no-repeat;
	background-size: cover; 
}

.basic-2 .text-container {
	margin-top: 8.5rem;
	margin-bottom: 8.25rem;
	padding: 2.5rem 1.5rem 3.5rem 1.5rem;
	background-color: white;
}

.basic-2 h2 {
	margin-bottom: 1rem;
}

.basic-2 h3 {
	margin-top: 2.75rem;
	margin-bottom: 0.875rem;
}

.basic-2 .list-unstyled {
	margin-bottom: 1.75rem;
}

.basic-2 .list-unstyled .fas {
	font-size: 0.75rem;
	line-height: 1.75rem;
}

.basic-2 .list-unstyled .media-body {
	margin-left: 0.5rem;
}


/*****************/
/*     Ebook     */
/*****************/
.basic-3 {
	padding-top: 8.25rem;
	padding-bottom: 8.25rem;
}

.basic-3 .image-container {
	margin-bottom: 3rem;
}

.basic-3 h2 {
	margin-bottom: 1rem;
}

.basic-3 .book-description {
	margin-bottom: 2.75rem;
}

.basic-3 .text-container {
	padding: 2.5rem 1.5rem 3.5rem 1.5rem;
	background-color: #2a3e57;
}

.basic-3 h3 {
	margin-bottom: 0.875rem;
}

.basic-3 .list-unstyled {
	margin-bottom: 1.875rem;
}

.basic-3 .list-unstyled .fas {
	font-size: 0.75rem;
	line-height: 1.75rem;
}

.basic-3 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.basic-3 .price {
	margin-bottom: 1.75rem;
	font-size: 1.875rem;
	line-height: 1.875rem;
}


/**********************/
/*     Newsletter     */
/**********************/
.form-1 {
	padding-top: 8rem;
	padding-bottom: 7.25rem;
	text-align: center;
}

.form-1 .p-heading {
	margin-bottom: 3.25rem;
}


/******************/
/*     Extras     */
/******************/
.slider-3 {
	padding-top: 8rem;
	padding-bottom: 8.375rem;
	text-align: center;
}

.slider-3 .p-heading {
	margin-bottom: 3.25rem;
}

.slider-3 .slider-container {
	position: relative;
}

.slider-3 .swiper-container {
	position: static;
	width: 90%;
}

.slider-3 .swiper-button-prev:focus,
.slider-3 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-3 .swiper-button-prev {
	left: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-3 .swiper-button-next {
	right: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 7rem;
	padding-bottom: 5.5rem;
	background-color: #fff;
	text-align: center;
}

.footer a {
	text-decoration: none;
}

.footer h4 {
	margin-bottom: 1.875rem;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-2x {
	color: #2B2B2B;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-1x {
    color: #fff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #fff;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #2B2B2B;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 1.5rem;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #000;
	text-align: center;
}

.copyright a {
	text-decoration: none;
	color: #fff;
}

.copyright .statement {
	color: #fff;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #e1293b url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #be1e2e;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 6rem;
	padding-bottom: 1rem;
	text-align: justify;
}

.ex-header h1 {
	color: whitesmoke;
}

.dir-message{
	text-align: justify;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #2a3e57;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #e1293b;
}

.ex-cards-1 .card .fa-stack-1x {
	color: #243141;
	font-weight: 600;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.375rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Details */
	.slider-2 {
		padding-top: 6rem;
		padding-bottom: 6rem;
		background: linear-gradient(rgba(4, 13, 27, 0), rgba(4, 13, 27, 0)), url('../images/details-background.jpg') center center no-repeat;
	}

	.slider-2 .text-container {
		width: 640px;
		height: 640px;
		margin-right: auto;
		margin-left: auto;
		padding: 7.5rem 2rem 2.5rem 2rem;
		border-radius: 50%;
		background-color: white;
	}

	.slider-2 h2 {
		max-width: 21rem;
		margin-right: auto;
		margin-left: auto;
	}

	.slider-2 p {
		max-width: 28rem;
		margin-right: auto;
		margin-left: auto;
	}

	.slider-2 .swiper-container {
		width: 70%;
	}
	/* end of details */


	/* Newsletter */
	.form-1 .form-group {
		max-width: 22rem;
		display: inline-block;
		vertical-align: top;
	}

	.form-1 .label-control {
		left: 1.875rem;
	}

	.form-1 .form-control-input {
		padding-left: 1.75rem;
	}
	
	.form-1 .form-control-input {
		width: 22rem;
		border-top-left-radius: 32px;
		border-bottom-left-radius: 32px;
	}
	
	.form-1 .form-control-submit-button {
		width: 10rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	/* end of newsletter */
	

	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h1-large {
		font-size: 4.125rem;
		line-height: 4.625rem;
	}

	.h2-heading {
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 43rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #ffffff;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	}
	
	.navbar .mobile-only {
		display: none;
	}

	.navbar .larger-devices {
		display: inline-block;
		margin: 0.25rem 1.375rem;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
		align-items: right; /* centers menu entries and logo vertically */
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 5px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}
	/* end of navigation */
	

	/* Header */
	.header .text-container {
		margin-top: 11rem;
		margin-bottom: 10rem;
		width: 446px;
		padding: 3rem 2.5rem 4rem 2.5rem;
		border-bottom-right-radius: 16px;
		text-align: left;
	}
	/* end of header */


	/* Featured */
	.slider-1 {
		border-bottom-right-radius: 160px;
	}
	/* end of featured */


	/* Latest */
	.cards-1 .card {
		display: inline-block;
		width: 300px;
		border: none;
		vertical-align: top;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
	/* end of latest */


	/* Values */
	.basic-1 .value-1 .text-container {
		margin-bottom: 0;
	}
	
	.basic-1 .value-2 .image-container {
		margin-bottom: 0;
	}
	
	.basic-1 .value-3 .text-container {
		margin-bottom: 0;
	}
	/* end of values */


	/* Host */
	.basic-2 .text-container {
		width: 446px;
		padding: 3.5rem 2.5rem 3.5rem 2.5rem;
		border-bottom-right-radius: 64px;
	}
	/* end of host */


	/* Ebook */
	.basic-3 .image-container {
		margin-bottom: 0;
	}

	.basic-3 .text-wrapper {
		width: 446px;
	}
	
	.basic-3 .text-container {
		padding: 3.5rem 2.5rem 4rem 2.5rem;
		border-bottom-right-radius: 64px;
	}
	/* end of ebook */


	/* Newsletter */
	.form-1 {
		border-top-right-radius: 256px;
		border-bottom-right-radius: 256px;
	}
	/* end of newsletter */


	/* Footer */
	.footer h4 {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of footer */


	/* Copyright */
	.copyright {
		text-align: left;
	}

	.copyright .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.copyright .statement {
		text-align: right;
	}
	/* end of copyright */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* Navigation */
	.navbar .container {
		max-width: 100%;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	/* end of navigation */


	/* Header */
	.header .text-container {
		margin-top: 15rem;
		margin-right: auto;
		margin-bottom: 14rem;
		margin-left: auto;
	}
	/* end of header */


	/* Featured */
	.slider-1 {
		padding-bottom: 8.25rem;
	}

	.slider-1 .swiper-container {
		width: 100%;
	}

	.slider-1 .embed-responsive {
		margin-bottom: 0;
	}

	.slider-1 .text-container {
		margin-top: 2.5rem;
		margin-left: 2rem;
	}
	
	.slider-1 .swiper-button-prev {
		left: -36px;
	}
	
	.slider-1 .swiper-button-next {
		right: -36px;
	}
	/* end of featured */


	/* Latest */
	.cards-1 .card {
		width: 350px;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	/* end of latest */
	

	/* Values */
	.basic-1 .value-1 .text-container {
		margin-top: 3.5rem;
		margin-right: 3rem;
	}
	
	.basic-1 .value-2 {
		margin-bottom: 8rem;
	}

	.basic-1 .value-2 .text-container {
		margin-top: 3.5rem;
		margin-left: 3rem;
	}
	
	.basic-1 .value-3 .text-container {
		margin-top: 3.5rem;
		margin-right: 3rem;
	}
	/* end of values */


	/* Host */
	.basic-2 .text-container {
		margin-right: auto;
		margin-left: auto;
	}
	/* end of host */


	/* Ebook */
	.basic-3 .text-wrapper {
		margin-top: 2.5rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of ebook */


	/* Extras */
	.slider-3 .swiper-container {
		width: 100%;
	}

	.slider-3 .swiper-button-prev {
		left: -36px;
	}
	
	.slider-3 .swiper-button-next {
		right: -36px;
	}
	/* end of extras */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px

